body {
    background-image: url(img/background.png); 
    background-color: lightblue;
  }
  
.game-button {
    padding: 30px;
    font-size: 25px;
    font-weight: bolder;
    background-color: lightblue;
    border-radius: 250%;
    border: 2px solid black;
    font-family: 'Droid Serif', serif;
    letter-spacing: 2px;
    text-shadow: 0.5px 0.5px 0.5px black;
    margin-bottom: 100px;
    height: 85px;
  
}
  
.game-text {
    text-align:center;
    margin-bottom: 100px;
    margin-top: -100px;
  
}